body {
    background-color: #050814;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='1000' height='1000' viewBox='0 0 200 200'%3E%3Cg %3E%3Cpolygon fill='%23090c17' points='100 57.1 64 93.1 71.5 100.6 100 72.1'/%3E%3Cpolygon fill='%230c0e19' points='100 57.1 100 72.1 128.6 100.6 136.1 93.1'/%3E%3Cpolygon fill='%23090c17' points='100 163.2 100 178.2 170.7 107.5 170.8 92.4'/%3E%3Cpolygon fill='%230c0e19' points='100 163.2 29.2 92.5 29.2 107.5 100 178.2'/%3E%3Cpath fill='%230E101A' d='M100 21.8L29.2 92.5l70.7 70.7l70.7-70.7L100 21.8z M100 127.9L64.6 92.5L100 57.1l35.4 35.4L100 127.9z'/%3E%3Cpolygon fill='%230a0e17' points='0 157.1 0 172.1 28.6 200.6 36.1 193.1'/%3E%3Cpolygon fill='%230d1018' points='70.7 200 70.8 192.4 63.2 200'/%3E%3Cpolygon fill='%230F121A' points='27.8 200 63.2 200 70.7 192.5 0 121.8 0 157.2 35.3 192.5'/%3E%3Cpolygon fill='%230d1018' points='200 157.1 164 193.1 171.5 200.6 200 172.1'/%3E%3Cpolygon fill='%230a0e17' points='136.7 200 129.2 192.5 129.2 200'/%3E%3Cpolygon fill='%230F121A' points='172.1 200 164.6 192.5 200 157.1 200 157.2 200 121.8 200 121.8 129.2 192.5 136.7 200'/%3E%3Cpolygon fill='%230a0e17' points='129.2 0 129.2 7.5 200 78.2 200 63.2 136.7 0'/%3E%3Cpolygon fill='%230F121A' points='200 27.8 200 27.9 172.1 0 136.7 0 200 63.2 200 63.2'/%3E%3Cpolygon fill='%230d1018' points='63.2 0 0 63.2 0 78.2 70.7 7.5 70.7 0'/%3E%3Cpolygon fill='%230F121A' points='0 63.2 63.2 0 27.8 0 0 27.8'/%3E%3C/g%3E%3C/svg%3E");
    color: white;
}
.main {
    margin-top: 150px;
}
.card {
    background: #171d2e;
}

input.form-control {
    width: 250px;
    margin: auto;
}

.search_input {
    display: flex;
    flex-direction: row;
    width: 350px;
    justify-content: space-around;
    margin: auto;
}


h6 {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid #000; 
    line-height: 0.1em;
    margin: 20px 0 20px; 
 } 
 
 h6 span { 
    background-color: #171d2e;
    padding:0 10px; 
 }

 .first_sec {
    transition: 1s;
 }
 

 .header_loc_text {
    display: flex;
 }

span.sp_header_info {
    margin-left: 6px;
    font-size: 17px;
}

span.weather_text {
    font-size: 150px;
}


.weather_paragraph {
    text-align: left;
}

.sec_section {
    display: none;
    opacity: 0;
    transition: 1s;
}

.next_page_status {
    display: block;
}

.city_error{
    color: red;
}

.search_input {
    margin-top: 10px;
}

.city_error {
    opacity: 0;
    transition: 1s;
    cursor: default;
}
